In [888]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
from itertools import permutations, combinations, combinations_with_replacement

In [892]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
582,tt0250224,13000000,16929123,Crazy/Beautiful,Kirsten Dunst|Jay Hernandez|Bruce Davison|Herm...,John Stockwell,When it's real. When it's right. Don't let any...,"At Pacific Palisades High, a poor Latino falls...",99,Drama|Romance,Touchstone Pictures|Ufland,6/29/2001,6.6,2001
1044,tt1615065,45000000,47000000,Savages,Blake Lively|Taylor Kitsch|Aaron Taylor-Johnso...,Oliver Stone,Young Beautiful Deadly.,Pot growers Ben and Chon face off against the ...,131,Crime|Drama|Thriller,Ixtlan|Relativity Media|Onda Entertainment,7/6/2012,6.2,2012

In [178]:
data.shape

(1889, 14)

In [206]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [207]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [893]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#создадим столбец прибыль 'profit' = 'revenue' - 'budget'
data['profit'] = data.revenue-data.budget
#уберем "|" из списка жанров
data.genres = data.genres.str.split('|')
#уберем "|" из списка director
data.director = data.director.str.split('|')
#уберем "|" из списка cast
data.cast = data.cast.str.split('|')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
252,tt0472033,30000000,48428063,9,"[Elijah Wood, John C. Reilly, Jennifer Connell...",[Shane Acker],When our world ended their mission began.,"When 9 first comes to life, he finds himself i...",79,"[Action, Adventure, Animation, Science Fiction...",Focus Films|Starz Animation|Relativity Media|T...,8/19/2009,6.5,2009,18428063
945,tt0265349,32000000,55157539,The Mothman Prophecies,"[Richard Gere, Laura Linney, Will Patton, Bob ...",[Mark Pellington],What do you see?,Reporter John Klein is plunged into a world of...,119,"[Drama, Mystery, Thriller, Horror]",Lakeshore Entertainment,1/25/2002,5.9,2002,23157539

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [894]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"
#"+"

In [895]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [896]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [897]:
data[data.runtime == data.runtime.max()].original_title.iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [898]:

data[data.runtime == data.runtime.min()].original_title.iloc[0]

'Winnie the Pooh'

In [899]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [900]:
round(data.runtime.mean(),0)

110.0

In [901]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [902]:
data.runtime.median()

107.0

In [903]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [904]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar'
data[data.profit == data.profit.max()].original_title.iloc[0] 
#

'Avatar'

# 7. Какой фильм самый убыточный?

In [905]:
answers['7'] = 'The Lone Ranger'
data[data.profit == data.profit.min()].original_title.iloc[0]
#

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [906]:
answers['8'] = '1478'
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [907]:
answers['9'] = 'The Dark Knight'
data[data.release_year == 2008].sort_values("revenue", ascending=False).iloc[0]['original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [908]:
answers['10'] = 'The Lone Ranger'
data.query('2012<=release_year<=2014').sort_values("profit").iloc[0]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [909]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Counter(data.genres.sum()).most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [910]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [911]:
answers['12'] = 'Drama'
Counter(data[data.profit>0].genres.sum()).most_common(1)[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [912]:
answers['13'] = 'Peter Jackson'
data.explode('director').groupby('director').revenue.agg('sum').sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [913]:
data1 = pd.read_csv('movie_bd_v5.csv')
data1.director = data1.director.str.split('|')
#создаем датасет только с фильмами в стиле Action
data_action = data1[data1.genres.str.contains('Action')]
#разделяем режиссеров по строкам
data_action = data_action.explode('director')
data_action.director.value_counts().index[0]

'Robert Rodriguez'

In [953]:
answers['14']='Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [914]:
#создаем датасет только с фильмами 2012
data_tmp = data.query('release_year == 2012')
data_tmp.explode('cast').groupby('cast').revenue.agg('sum').sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [915]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [919]:
#дата сет высокобюджетных фильмов
data_tmp = data[data.budget > data.budget.mean()]
#разделяем список в столбце cast на 2+ строки
data_tmp = data_tmp.explode('cast')

Counter(data_tmp.cast).most_common(1)[0][0]

'Matt Damon'

In [917]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [920]:
#разделяем список cast в столбце на 2+ строки
data_tmp = data.explode('cast')

In [921]:
Counter(data_tmp.query("cast == 'Nicolas Cage' ").genres.sum()).most_common(1)[0][0]

'Action'

In [922]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [923]:
#создаем дата сет фильмов от Paramount Pictures
data_tmp = data[data.production_companies.str.contains('Paramount Pictures')]
data_tmp[data_tmp.profit == data_tmp.profit.min()].original_title.iloc[0]

'K-19: The Widowmaker'

In [924]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [925]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

2015

In [926]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [927]:
#создаем дата сет фильмов от Warner Bros
data_tmp = data[data.production_companies.str.contains('Warner Bros')]
data_tmp.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

2014

In [928]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [930]:
#создаем функцию по переводу в формат datetime и вызывающая название месяца
def release_month(string):
    return datetime.strptime(string, "%m/%d/%Y").strftime("%B")

#создаем столбец release_month 
data['release_month'] = data.release_date.apply(release_month)

In [931]:
data.groupby('release_month').original_title.count().sort_values(ascending=False).index[0]

'September'

In [932]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [933]:
data.query("release_month in ['June', 'July', 'August']").original_title.count()

450

In [934]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [935]:
#создаем датасет с зимними фильмами
data_tmp = data.query("release_month in ['December', 'January', 'February']")
data_tmp.explode('director').director.value_counts().idxmax()

'Peter Jackson'

In [936]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [939]:
#разделяем компании 
data.production_companies = data.production_companies.str.split('|')

In [940]:
#заполняем для каждой компании данные
data_temp = data.explode('production_companies')

In [941]:
#создаем столбец с длиной названия фильма
data_temp['len_movie'] = data_temp.original_title.str.len()
data_temp.groupby('production_companies').len_movie.mean().idxmax()

'Four By Two Productions'

In [942]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [943]:
#создаем столбец с длиной описания фильма
data_temp['len_overview'] = data_temp.overview.apply(lambda x: len(x.split(' ')))
data_temp.groupby('production_companies').len_overview.mean().idxmax()

'Midnight Picture Show'

In [951]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [944]:
#считаем сколько фильмов составляет 1% от общего количества
number_film = round(pd.read_csv('movie_bd_v5.csv').shape[0]/100)

In [945]:
#сортируем весь датасет по столбцу с рейтингом в убывающем порядке и выбираем 1%
data.sort_values(by=['vote_average'], ascending=False).original_title.head(number_film)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

In [946]:
answers['26'] ='Inside Out, The Dark Knight, 12 Years a Slave'

In [947]:
#2вариант решения 
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [948]:
#создаем единый список из комбинаций 2 актеров в 1 фильме
temp = data.cast.apply(lambda x: list(combinations(x,2))).sum()
#находим наиболее частую комбинацию
Counter(temp).most_common(1)[0][0]

('Daniel Radcliffe', 'Rupert Grint')

In [949]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

ВАРИАНТ 2

# Submission

In [956]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '25': 'Midnight Picture Show',
 '14': 'Robert Rodriguez'}

In [957]:
# и убедиться что ни чего не пропустил)
len(answers)

27